NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://username:password@localhost:5432/database_name
FASTAPI_URL=http://localhost:8000
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d


QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=persons
QDRANT_VECTOR_SIZE=512
FACE_MATCH_THRESHOLD=0.65


LOG_LEVEL=info