node_modules/
build/
*.log
# Environment variables

# Node.js
node_modules/

docker-compose.db.yml
docker-compose.deploye.yml
docker-compose.dev.yml

# Build output
dist/

# Python
.venv/
__pycache__/
*.pyc

# VS Code
.vscode/
apps/backend/storage
