node_modules/
build/
*.log
# Environment variables
.env
.env.*
!.env.production

# Node.js
node_modules/

docker-compose*.yml
!docker-compose.prod.yml
# Build output
dist/

# Python
.venv/
__pycache__/
*.pyc

# VS Code
.vscode/
apps/backend/storage
